
<a href="/" mat-button>O7</a> / Branches

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="branchId">
      <mat-header-cell *matHeaderCellDef> BranchId </mat-header-cell>
      <mat-cell *matCellDef="let branch"> {{branch.branchId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let branch"> {{branch.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let branch"> {{branch.city}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let branch"> {{branch.name}} </mat-cell>
    </ng-container>	
	<ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let branch"> {{branch.state}} </mat-cell>
    </ng-container>	
	<ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef> Zip Code </mat-header-cell>
      <mat-cell *matCellDef="let branch"> {{branch.zipCode}} </mat-cell>
    </ng-container>
	
	
	<ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let branch">
            <button mat-button (click)="details(branch.branchId)">Details</button>
            <button mat-button (click)="delete()">Delete</button>
        </mat-cell>
    </ng-container>
	
	
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>